<!DOCTYPE html> 
<html> 

<head> 
	<title> 
		BIBLIOPHILE COMPANION
	</title> 
	
	<!-- linking the stylesheet(CSS) -->
	<link rel="stylesheet" type="text/css" href="../static/search_engine.css"> 
</head> 

<body> 
	<br>
	<br>
	<br>
	<h1 align = "center" >Bibliophile Companion </h1>
	<br>
	<!-- input tag -->
	<div align = "center">
		<form class="s_form" method="post" action="results">
			Search: <br>
			<input type="text" name="search" >
			<input type="submit" value="submit">
		</form>	
	</div>
	
	<!-- linking javscript -->
	<script src="./search_engine.js"></script> 
</body> 
</html> 