<!DOCTYPE html> 
<html> 
	
<head> 
	<title> 
		BIBLIOPHILE COMPANION
	</title> 
	
	<!-- linking the stylesheet(CSS) -->
	<link rel="stylesheet" type="text/css" href="./search_engine.css"> 
</head> 

<body> 
        <br>
        <br>
        <br>
        <h1 align = "center" >Bibliophile Companion </h1>
        <br>
	<!-- input tag -->
        <div align = "center">
	<input id="searchbar" onkeyup="search_keyword()" type="text"
		name="search" placeholder="Enter Keyword..">
        <button type="submit">Submit</i></button>	
        </div>
        
	<!-- linking javscript -->
	<script src="./search_engine.js"></script> 
</body> 

</html> 

